/*Fonts*/
@font-face {
    font-family: 'PTSansNarrowBold';
    src: url('font/pt_sans_narrow_bold-font.eot');
    src: url('font/pt_sans_narrow_bold-font.eot?#iefix') format('embedded-opentype'),
         url('font/pt_sans_narrow_bold-font.woff') format('woff'),
         url('font/pt_sans_narrow_bold-font.ttf') format('truetype'),
         url('font/pt_sans_narrow_bold-font.svg#PTSansNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('font/pt_sans_narrow-font.eot');
    src: url('font/pt_sans_narrow-font.eot?#iefix') format('embedded-opentype'),
         url('font/pt_sans_narrow-font.woff') format('woff'),
         url('font/pt_sans_narrow-font.ttf') format('truetype'),
         url('font/pt_sans_narrow-font.svg#PTSansNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*GLOBAL*/
html, body	{height:100%; margin:0; padding:0;} 
html		{background:#fff;}
body		{margin:0; padding:0; color:#000;}
* 			{margin:0; padding:0;}

#content				{min-height:100%; height:auto; margin:0 auto; overflow:visible; text-align:left; position:relative;}
* html #content			{height:100%;}
html>body #minHeight	{float:left;width:0px;height:100%;}

#footer					{ margin:0 auto; clear:both; position:relative;}




.width		{width:100%;}
.all		{float:left; width:100%;}
.clear 		{clear: both;}

/*TAGS*/
DIV, TD, INPUT, SELECT, TEXTAREA	{font: 11px "Arial", Helvetica, sans-serif; outline:none;}
IMG 	{border: 0px;}
LI, UL, OL, form, H1, H2	{margin:0; padding:0;}

h1		{ padding:0; margin:0 0 20px 0; font:18px "Times New Roman", Times, serif; color:#594841; text-transform:uppercase;}
h1 span	{ font:14px "Times New Roman", Times, serif; color:#8d8d8d;}
h2		{ font:16px arial; color:#000; padding:0; margin:0 0 15px 0;}
h3		{ padding:0; margin:0 0 20px 0; font:15px "Times New Roman", Times, serif; color:#000; text-transform:uppercase;}

p{ 	font: 11px "Arial", Helvetica, sans-serif; color:#000;
	text-align: left;
	line-height:130%;
	margin: 0px;
	padding: 0px 0px 10px 0px;}

img {border:0px}
	
a		{ text-decoration: underline; color:#ac8170; outline:none;}
a:hover	{ text-decoration:none;}

input, textarea { outline:none;}
input[type=checkbox], input[type=radio] {  width: auto !important;  height: auto !important;}
input[type=radio] 						{  padding: 1px !important;  margin:0px 0px 0 0 !important;  border: 0px !important;}
input[type=checkbox]				 	{  padding: 0px 0px 0px 0px !important;  margin:0px 8px 0 0 !important;  border: 1px !important;}


.fix		{ width:900px; margin:0 auto; position:relative;}

.head		{ position:relative; height:83px; z-index:3; overflow:hidden; width:900px; margin:0 auto;}
	.head .logo	{ position: absolute; top:29px; left:0px;}
	.head .top	{ position:absolute; overflow: hidden; list-style:none; top:23px; left:240px;}
	.head .top li	{ overflow: hidden; float:left; margin-right:9px; background:url(../images/li3.gif) no-repeat 100% 9px; padding-right:10px;}
	.head .top li a	{ font:11px arial; color:#656565; text-decoration:none; display:inline-block; line-height:19px;border-top:1px solid #fff;border-bottom:1px solid #fff;}
	.head .top li a:hover	{ border-top:1px solid #ac8170;border-bottom:1px solid #ac8170; color:#ac8170;}

	.head .ri	{ position:absolute; overflow: hidden; list-style:none; top:27px; right:0px;}
	.head .ri li	{ overflow: hidden; float:left;font:11px arial; color:#656565; margin-right:10px;}
	.head .ri li.bag	{ font:11px arial; color:#656565; text-decoration:none;background:url(../images/li1.gif) no-repeat 100% 50%; padding-right:16px;}
	.head .ri li.bag a	{ background:url(../images/ico1.gif) no-repeat 0% 50%; padding-left:10px;}
	.head .ri li.bag.active a	{ color:#ac8170; text-decoration:underline;}
	.head .ri li.bag a:hover	{ color:#ac8170; text-decoration: none;}
	.head .ri li a	{ font:11px arial; color:#656565; text-decoration:none;}
	.head .ri li a:hover	{ text-decoration: underline;}
	.head .ri li.enter		{ margin:0;}
	.head .ri li.enter a	{ text-decoration: underline;}
	.head .ri li.enter a:hover	{ text-decoration: none;}
	.head .ri li.phone		{ margin:0; padding:0; clear:both; float:none; text-align:right; font-size:17px; padding-top:5px;}
	
	.mn_block 		{ position:relative; height:47px; border-top:1px solid #594841; margin-bottom:15px;}
	.mn_block .menu	{ position:relative; overflow: visible; width:900px; margin:0 auto; list-style:none;}
	.mn_block .menu li	{ overflow: hidden; float:left; border-top:2px solid #594841;}
	.mn_block .menu li a		{ display:inline-block; background:url(../images/li1.gif) no-repeat 100% 50%; padding:0 10px 0 10px; font:15px "Times New Roman", Times, serif; color:#656565; text-decoration:none; line-height:42px;}
	.mn_block .menu li a:hover	{ color:#ac8170;}
	.mn_block .menu li.active	{ border-top:2px solid #fff; border-bottom:3px solid #594841;}
	.mn_block .menu li.first	{ float:right;}
	.mn_block .menu li.first a	{ margin:0; padding:0; background:none;}
	.mn_block .menu li.last a	{ background:none; margin-right:0; padding-right:0;}
	.mn_block .menu li.hover	{ border-top:3px solid #ac8170; border-bottom:3px solid #ac8170; position:relative; margin-top:-1px;}
	.mn_block .menu li.active.hover	{ border-top:2px solid #fff; border-bottom:3px solid #594841; margin-top:0;}
	.mn_block .menu li.active.hover a	{ color:#656565;}

.page404	{ border-top:3px solid #594841;}	
	.page404 .logo_404	{ width:134px; border-top:2px solid #fff; position:relative; overflow:hidden; margin-top:-2px; float:left; margin-right:70px; padding-top:35px;}	
	.page404 .logo_404 span	{ font:30px "Times New Roman", Times, serif; display:block; text-transform:uppercase; color:#594841;}	
	.page404 .logo_404 strong	{ font: normal 87px "Times New Roman", Times, serif; display:block;color:#dedad9; padding-bottom:15px; border-bottom:3px solid #594841; }	
	.page404 .content_404		{ padding-top:60px; overflow:hidden;}	
	.page404 .content_404 h1	{ font-size:15px; color:#000; margin-bottom:10px;}	
	.page404 .content_404 ul				{ overflow:hidden; list-style:none; margin-bottom:30px;}
	.page404 .content_404 ul li				{ width:230px; height:130px; overflow:hidden; float:left; list-style:none;}
	.page404 .content_404 ul li span		{ display:block; font:bold 11px arial; color:#594841; padding-bottom:10px;}
	.page404 .content_404 ul li a			{ display:inline-block; color:#959595; text-decoration:none; margin-bottom:5px;}
	.page404 .content_404 ul li a:hover		{ text-decoration:underline;}
	
.gal_index 	{ position:relative; margin-bottom:30px; height:320px; background:url(../images/bg1.gif) repeat-x 0 40px; width:960px; margin:0 auto 20px auto;}
	.gal_index h2		{ font:18px "Times New Roman", Times, serif; color:#594841; padding:0; margin:0; text-transform:uppercase; margin-left:30px;}
	.gal_index #scroller_container	{ display:block; position: absolute; overflow:hidden; width:900px; top:40px; height:280px; left:30px;}
	.gal_index .onePart		 	{ display:inline-block; width:231px; float:left; height:280px;}
	.gal_index .onePart span 	{ font:11px arial; height:274px; display:inline-block; float:left; padding:2px; background:#fff; border:1px solid #dedad9; overflow:hidden;}
	.gal_index .onePart img 	{ margin-bottom:10px;}
	.gal_index .onePart span a.name	{ display:block; color:#594841; margin-left:8px; text-decoration:none; font-weight:bold;}
	.gal_index .onePart span small	{ font-size:11px; display:block; color:#8d8d8d; margin-left:8px;}
	.gal_index .onePart span big	{ display:block; color:#000000; margin-left:8px; font-size:11px; margin-bottom:7px;}

.ban1			{ text-align:center; overflow:hidden; margin-bottom:35px;}
	
	.action		{ width:900px; margin:0 auto 0px auto; overflow:hidden; list-style:none;}
	.action	li	{ overflow:hidden; float:left; list-style:none; width:205px; margin-right:25px;}
	.action	li a	{ color:#000; text-decoration:none; font-weight:bold;}
	.action	li a:hover	{ text-decoration: underline;}
	
.visual_main	{ padding-top:15px; width:900px; margin:0 auto 35px auto; }	

.content	{ width:900px; margin:0 auto 50px auto;}
	.center_left	{ margin:0 310px 0 0;}
	.img_text		{ float:left; margin:10px 20px 10px 0;}
	.img_text img	{ padding:2px; background:#fff; border:1px solid #e5e1e1; margin-bottom:7px;}
	.img_text div	{ font-size:11px; color:#8d8d8d;}
	
	.text_inf ul	{ overflow:hidden; list-style:none; margin-left:20px;}
	.text_inf ul li	{ overflow:hidden; list-style:none; margin-bottom:7px; padding-left:17px; background:url(../images/li4.gif) no-repeat 0 5px;}
	
	.img_right		{ float:right; margin:0px 0px 0px 0;}
	.img_right img	{ padding:2px; background:#fff; border:1px solid #dedad9;}
	
	.bagins_menu	{ overflow:hidden; list-style:none; padding-left:20px;}
	.bagins_menu li	{ overflow:hidden; list-style:none; float:left; font:15px "Times New Roman", Times, serif; color:#000; text-transform:uppercase; margin-bottom:15px;}
	.bagins_menu li.title		{ width:340px;}
	.bagins_menu li.ce			{ width:150px;}
	.bagins_menu li.st			{ width:150px;}
	.bagins_menu li.kol_vo		{ width:200px;}
	
	.item		 	{ display:inline-block; width:205px; height:280px;}
	.item div 	{ font:11px arial; height:274px; display:inline-block; float:left; padding:2px; background:#fff; border:1px solid #dedad9; overflow:hidden;}
	.item img 	{ margin-bottom:10px;}
	.item .button1 	{ float:right; margin-right:5px;}
	.item div a.name	{ display:block; color:#594841; margin-left:8px; text-decoration:none; font-weight:bold; margin-bottom:2px;}
	.item div small	{ font-size:11px; display:block; color:#8d8d8d; margin-left:8px; margin-bottom:2px;}
	.item div big	{ display:block; color:#000000; margin-left:8px; font-size:11px; margin-bottom:7px;}
	
	.catalog		{ width:669px; float:right; overflow:hidden; margin-top:-38px;}
	.catalog ul		{ overflow:hidden; list-style:none;}
	.catalog ul li	{ overflow:hidden; float:left; padding-right:26px; margin-bottom:25px; background:url(../images/bg1.gif) repeat-x 0 0;}
	
	.right .catalog		{ width: auto; float: none; overflow:hidden; margin-top:0;}
	.right .catalog ul li	{ padding-right:0; background: none;}
	
	.filter			{ overflow:hidden; position:relative; margin-bottom:25px; width:669px;}
	.filter .sel		{ overflow:hidden;}
	.filter .sel label	{ display:inline-block; padding-right:10px;}
	.filter .sel select	{ padding:2px; border:1px solid #dedad9; font:11px arial; color:#8d8d8d; width:110px; margin-right:25px;}
	.filter .sort		{ float:right; color:#ababab;}
	.filter .sort span	{ display:inline-block; margin-right:20px; color:#000;}
	.filter .sort a		{ display:inline-block; color:#8d8d8d;}
	.filter .sort a.active		{ padding-left:10px; background:url(../images/nb.png) no-repeat 0 7px; color:#ac8170;}
	
	.bagins	{ overflow:hidden; list-style:none;}
	.bagins li	{ overflow:hidden; list-style:none; background:#f7f7f7; padding:20px; margin-bottom:10px;}
	.bagins li span	{ display:inline-block; font: normal 11px arial; color:#8d8d8d;}
	.bagins li strong	{ display:inline-block; padding-bottom:5px;}
	.bagins li img	{ padding:2px; background:#fff; border:1px solid #e5e1e1; float:left; margin-right:20px;}
	.bagins li p		{ line-height:22px; padding:0;}
	.bagins li p span	{ width:73px;}
	.bagins li .img		{ width:340px; float:left;}
	.bagins li .cena_one	{ width:150px; float:left; line-height:83px;}
	.bagins li .cena_all	{ width:150px; float:left; line-height:83px;}
	.bagins li .col			{ width:200px; float:left; padding-top:32px;}
	.bagins li .col input	{ padding:2px 10px; border:1px solid #dedad9; font:11px arial; color:#8d8d8d; width:30px; float:left; margin-right:5px;}
	.bagins li .col a		{ display:inline-block; text-decoration:none; width:13px; height:20px; background-position:50% 50%; background-repeat:no-repeat; float:left; margin-right:5px;}
	.bagins li .col a.add	{ background-image:url(../images/add.png);}
	.bagins li .col a.min	{ background-image:url(../images/min.png);}
	.bagins li .deleet		{ width:15px; float:left; padding-top:32px;}
	.bagins li .deleet .del	{ display:inline-block; text-decoration:none; width:14px; height:20px; margin-right:5px;background:url(../images/del.png) no-repeat 0 50%;}
	
	.itogo			{ padding-top:10px; overflow:hidden;}
	.itogo div		{ float:right; text-align:right;}
	.itogo div a	{ margin-left:40px; margin-bottom:20px;}
	.itogo div span	{ color:#8d8d8d;}
	.itogo div big	{ color:#000; font-size:18px; display:inline-block; margin-left:20px; margin-right:5px;}
	.itogo a		{ display:inline-block; line-height:110%; border-bottom:1px dashed #ac8170; text-decoration:none;}
	.itogo a:hover	{ border:0; padding-bottom:1px;}
	
	.tovar_desc		{ overflow:hidden;}
	.tovar_desc p	{ padding-bottom:28px; clear:both; overflow:hidden;}
	.tovar_desc small	{ display:inline-block; color:#959595; font-size:11px;}
	.tovar_desc p small	{ width:75px; float:left;}
	.tovar_desc p select	{ padding:1px; border:1px solid #dedad9; font:11px arial; color:#8d8d8d; width:100px; margin-right:0;}
	.tovar_desc p select option	{ background-repeat:no-repeat; background-position:3px 2px;}
	.tovar_desc p select#color	{ padding-left:20px;background-repeat:no-repeat; background-position:3px 4px;}
	.tovar_desc p select#color option	{ padding:0px 1px 0px 23px;}
	.tovar_desc p strong	{ display:inline-block; font-weight:normal;}
	.tovar_desc p strong small	{ font-size:11px; float:none; width:auto;}
	.tovar_desc p.cena strong 	{ font-size:18px;}
	.tovar_desc p.cena		 	{ border-top:1px solid #edebea; padding-top:28px;}
	
	.profil p	{ padding-bottom:17px; clear:both; overflow:hidden;}
	.profil a		{ display:inline-block;}
	.profil small	{ display:inline-block; color:#959595; font-size:11px;}
	.profil p small	{ width:75px; float:left;}
	.profil	a.user	{ padding-left:8px; background:url(../images/user.png) no-repeat 0 3px; display:inline-block; color:#8d8d8d;}
	.profil	a.edit	{ padding-left:24px; background:url(../images/edit.gif) no-repeat 0 0px; display:inline-block; float:right;}
	.profil	p.name			{ padding-bottom:25px;}
	.profil	p.name strong	{ font:15px "Times New Roman", Times, serif; text-transform:uppercase;}
	
	.image			{ padding:2px; border:1px solid #dedad9; float:left; margin-right:30px; margin-bottom:25px;}
	
	.comment_ul		{ list-style:none; overflow:hidden;}
	.comment_ul ul	{ margin-left:50px;}
	.comment_ul li	{ overflow:hidden;}
	.comment_ul li.level	{ background:url(../images/p2.png) repeat-x 0 100%; margin-bottom:30px;}
	.comment_ul li img	{ padding:2px; background:#fff; border:1px solid #ccc; float:left; margin-right:10px;}
	.comment_ul li span	{ font-size:11px; color:#8d8d8d; line-height:140%;}
	.comment_ul li span.date	{ display:inline-block; float:right;}
	.comment_ul li a.resp	{ text-decoration:none; display:inline-block; border-bottom:1px dashed #ac8170; color:#ac8170; line-height:100%; margin-left:20px;}
	.comment_ul li a.mad	{ text-decoration:none; display:inline-block; border-bottom:1px dashed #8d8d8d; color:#8d8d8d; line-height:100%; margin-left:20px;}
	.comment_ul li a.user	{ padding-left:8px; background:url(../images/user.png) no-repeat 0 4px; display:inline-block; color:#8d8d8d;}
	.comment_ul li p		{ padding:8px 0 0 0; overflow:hidden;}
	.comment_ul li p a		{ text-decoration:none; color:#000;}
	.comment_ul li p a:hover{ text-decoration:underline;}
	.comment_ul li div		{ overflow:hidden; margin-bottom:30px;}
	.comment_ul li div.add_comm		{ margin-bottom:0px; padding-top:5px; clear:both;}
	.comment_ul li div.add_comm p		{ border:1px solid #c4c0bf; padding:0; float:left; margin-bottom:3px; margin-right:10px;}
	.comment_ul li div.add_comm p textarea{ font-size:12px; border:1px solid #b3b3b3; border-width:1px 0 0 1px; height:50px; padding:3px; width:400px;}

	
	.photo 	{ overflow:hidden; width: 404px; float:left; margin-bottom:25px;}
	.photo .big {background: url("../images/loader.gif") no-repeat 50% 50%; width: 368px; margin:0; padding:2px; border:1px solid #dedad9; height: 386px; overflow:hidden; text-align:center; margin-bottom:10px;}
	.photo .small 	{}
	.photo .small a	{ margin-right:17px; padding:2px; background:#fff; display:inline-block; position:relative; float:left; border:1px solid #e5e1e1; position:relative;}
	.photo .small a span	{ position:absolute; top:-10px; left:50%; margin-left:-5px; width:12px; height:10px; background:url(../images/ug2.png) no-repeat 0 0; display:none;}
	.photo .small a.active span	{ display:block;}

	
	.right			{ width:233px; float:left; margin:0 0 0 -233px;}
	
	.last_news			{ overflow:hidden; list-style:none;}
	.last_news li			{ overflow:hidden; list-style:none;margin-bottom:25px;}
	.last_news li span	{ color:#8d8d8d; display:inline-block; padding-bottom:3px;}
	.last_news li a		{ color:#573426; display:inline-block; padding-bottom:3px; text-transform: uppercase; font:15px "Times New Roman", Times, serif; margin-bottom:8px;}
	.last_news li div img	{ overflow:hidden;height:120px; width:120px; float:bottom; padding:2px; background:#fff; border:1px solid #e5e1e1; margin-bottom:7px;}	

	.list_news		{ overflow:hidden; list-style:none;}
	.list_news li	{ overflow:hidden; list-style:none; height:170px; width:380px; float:left; margin-right:80px;}
	.list_news li span	{ color:#8d8d8d; display:inline-block; padding-bottom:3px;}
	.list_news li a		{ color:#573426; display:inline-block; padding-bottom:3px; text-transform: uppercase; font:15px "Times New Roman", Times, serif; margin-bottom:5px;}
	.list_news li div	{float: left;height: 125px;margin-right: 30px;  overflow: hidden;width: 119px;}	
	.list_news li div img	{ overflow:hidden; list-style:none;  float:left;padding:2px; background:#fff; border:1px solid #e5e1e1; margin-bottom:7px;}	
	
	.list_faq		{ overflow:hidden; list-style:none; width:700px; margin-bottom:20px;}
	.list_faq li	{ overflow:hidden; list-style:none; padding:17px 0 10px 0; border-bottom:1px solid #e8e8e8;}
	.list_faq li a.q	{ font-size:16px; color:#000; text-decoration:none; display:inline-block; border-bottom:1px dashed #000; line-height:110%; margin-bottom:10px;}
	.list_faq li a:hover.q,
	.list_faq li.active a.q	{ color:#ac8170; border-bottom:1px dashed #ac8170;}
	.list_faq li .resp		{ margin:0 20px 10px 51px; display:none; border:1px solid #e5e1e1; background:#fff; padding:2px; position:relative;}
	.list_faq li .resp .ug	{ background:url(../images/ug.png) no-repeat 0 0; width:12px; height:13px; overflow:hidden; position:absolute; top:-10px; left:33px;}
	.list_faq li .resp div.resp_c		{ background:#f9efeb; padding:10px 20px 0 20px;}
	
	.catalog_menu	{ float:left; width:230px;}
	.catalog_menu p	{ font-weight:bold; color:#594841;}
	.catalog_menu p.active	{ color:#ac8170;}
	.catalog_menu ul	{ list-style:none; margin-bottom:40px;}
	.catalog_menu ul li	{ list-style:none;}
	.catalog_menu ul li a	{ display:inline-block; color:#959595; text-decoration:none; margin-bottom:7px;}
	.catalog_menu ul li.active a	{ padding-left:8px; background:url(../images/li5.gif) no-repeat 0 5px;color:#ac8170; margin-left:-8px;}
	.catalog_menu ul li a:hover	{ text-decoration:underline;}
	.catalog_menu ul li ul	{ margin:0 0 5px 10px;}
	.catalog_menu ul li ul li a	{ margin-bottom:5px;}
	
.center		{ margin:0 248px 20px 370px;}
	
button {text-align: center;cursor: pointer;border: none; margin:0; background: none repeat scroll 0 0 transparent; border: medium none; overflow: visible; padding:0;}
button::-moz-focus-inner {	padding:0;	border:0;}
button:active {	padding:0 0 0 0; margin:0; border:0;}

	.button1	{ overflow:hidden; height:27px; display:inline-block; cursor:pointer;}
	.button1 span	{display:inline-block; overflow:hidden; float:left;}
	.button1 span.l,
	.button1 span.r	{ width:4px; height:27px; overflow:hidden;}
	.button1 span.l	{ background:url(../images/b2l.png) no-repeat 0 0;}
	.button1 span.r	{ background:url(../images/b2r.png) no-repeat 0 0;}
	.button1 span.c	{ height:27px; background:url(../images/b2bg.png) repeat-x 0 0; padding:0 0px; overflow:hidden;}
	.button1 span.c input	{ padding:6px 10px 0px 10px; width: auto; font: normal 11px arial; color:#000; background: none; border:0; cursor:pointer;}
	a:hover.button1 span,
	span:hover.button1 span		{ background-position:0 -27px;}
	a:active.button1 span,
	span:active.button1 span	{ background-position:0 -54px;}
	
	.sn			{ overflow:hidden; margin-bottom:20px; padding-left:10px;}
	.sn	a		{ display:inline-block; width:42px; height:42px; margin:0 30px; text-decoration:none;}	
	.sn	a.face	{ background:url(../images/face.png) no-repeat 0 0;}	
	.sn	a.tw	{ background:url(../images/tw.png) no-repeat 0 0;}	
	.sn	a.vk	{ background:url(../images/vk.png) no-repeat 0 0;}	
	
	.dos_list	{ float:right; background:#efefef; padding:17px 20px 0 20px; width:350px; overflow:hidden;}
	.dos_list h2	{ font:16px arial; color:#000; padding:0; margin:0 0 15px 0;}
	.dos_list p		{ padding-bottom:5px;}
	.dos_list ul	{ overflow:hidden; list-style:none; margin-left:50px;}
	.dos_list ul li	{ overflow:hidden; list-style:none; height:44px; margin-bottom:20px;}
	.dos_list ul label	{ overflow:hidden; display:inline-block; cursor:pointer;}
	.dos_list ul label input	{ overflow:hidden; margin:15px 20px 0 0 !important; float:left;}
	.dos_list ul label span		{ display:inline-block; color:#8d8d8d; line-height:44px; padding-left:59px; background-position:0 50%; background-repeat:no-repeat;}
	.dos_list ul .d0				{ height:auto;}
	.dos_list ul .d0 label span		{ padding-left:0px; padding-top:15px; line-height:normal;}
	.dos_list ul .d1 label span		{ background-image:url(../images/d1.png);}
	.dos_list ul .d2 label span		{ background-image:url(../images/d2.png);}
	.dos_list ul .d3 label span		{ background-image:url(../images/d3.png);}
	.dos_list ul .d4 label span		{ background-image:url(../images/d4.png);}
	
	.form		{ overflow:hidden;}
	.form .input	{ overflow:hidden; clear:both; margin-bottom:20px;}
	.form .input div	{ padding-left:104px;}
	.form .input div a	{ display:inline-block; line-height:110%; padding-top:5px;text-decoration:none;color:#ac8170;border-bottom:1px dashed #ac8170;}
	.form .input div a:hover	{ border:0; padding-bottom:1px;}
	.form .input label	{ display:inline-block; float:left; line-height:18px; width:94px;}
	.form .input input	{ padding:2px 10px; border:1px solid #dedad9; font:11px arial; color:#8d8d8d; width:310px;}
	.form .input textarea	{ padding:2px 10px; border:1px solid #dedad9; height:90px; font:11px arial; color:#8d8d8d; width:310px;}
	.form .code label	{ line-height:29px;}
	.form .code img		{ border:1px solid #dedad9; float:left; margin-left:2px;}
	.form .code a		{ width:27px; height:27px; background:url(../images/code_f5.png) no-repeat  0 0; display:inline-block; text-decoration:none; margin-right:20px; border:1px solid #dedad9; float:left; margin-left:2px;}
	.form .code input	{ margin-top:5px; width:160px;}
	.form .button1		{ float:left; margin-left:94px; margin-right:20px;}
	.form .reset		{ background:none; border:0; font:11px arial; line-height:100%; padding:5px 0 0 0; margin:0; color:#ac8170; border-bottom:1px dashed #ac8170;}
	.form .rem			{ display:inline-block; font:11px arial; padding:5px 0 0 0; margin:0; color:#ac8170;}
	.form button:hover.reset		{ border:0;}
	
	.form.forgot		{ margin-left:220px; padding-top:10px;}
	.form.forgot .input label	{ width:120px;}
	.form.forgot .button1		{ margin-left:120px;}
	
	.form.razmer		{ padding-top:10px; margin-left:40px; margin-bottom:40px; width:400px;}
	.form.razmer .input input	{ width:180px; margin-top:5px; margin-right:10px;}
	.form.razmer .input span	{ color:#8d8d8d;}
	.form.razmer .input label	{ width:120px; margin-top:5px;}
	.form.razmer .input big		{ display:inline-block; width:26px; font-size:16px; color:#8d8d8d; text-align:center; line-height:26px; margin-right:20px; float:left; border:1px solid #cccccc;}
	.form.razmer .button1		{ margin-left:0px;}
	
	.form.lk		{ margin-left:244px;}
	
	.razmer_list	{ overflow:hidden; width:375px; margin-left:40px;}
	.razmer_list .tit	{ background:#dedad9; padding:8px 0 8px 20px; font:15px "Times New Roman", Times, serif; color:#000; text-transform:uppercase; }
	.razmer_list ul	{ overflow:hidden; list-style:none; background:#f5f4f4;}
	.razmer_list ul li	{ overflow:hidden; padding:5px 0;}
	.razmer_list ul li.next		{ background:#eeecec;}
	.razmer_list ul li span		{ display:inline-block; width:180px; overflow:hidden; margin-left:45px;}
	.razmer_list ul li strong	{ display:inline-block; overflow:hidden; font: normal 15px "Times New Roman", Times, serif; color:#8d8d8d;}
	
	.tanks			{ padding-left:200px;}
	.tanks h1		{ color:#000; font-size:15px; margin-bottom:10px;}
	
	.crumb			{ margin-bottom:20px; overflow:hidden; position:relative; margin-top:-15px;}
	.crumb span,
	.crumb a		{ font:11px arial; color:#8d8d8d; text-decoration:none; padding-right:17px; display:inline-block; margin-right:5px;}
	.crumb a		{ background:url(../images/n.gif) no-repeat 100% 5px;}
	.crumb a:hover	{ text-decoration: underline;}
	
	.pager			{ padding:10px 0 0 0; overflow:hidden; text-align:center; margin-bottom:0px;}
	.pager a		{ display:inline-block; background:#f5f5f5; border:1px solid #cccccc; margin:0 2px; padding:0 6px; font:11px arial; color:#8d8d8d; line-height:17px; text-decoration:none;}
	.pager a.active		{ margin-right:10px; background:#fff;}
	.pager a.prev,
	.pager a.next	{ width:5px; height:19px; text-decoration:none; padding:0; padding:0; border:0}
	.pager a.prev	{ background: url(../images/l.png) no-repeat 0 50%; margin-right:10px;}
	.pager a.next	{ background: url(../images/r.png) no-repeat 0 50%; margin-left:10px;}
	.pager a.prev_prev,
	.pager a.next_next	{ width:10px; height:19px; text-decoration:none; padding:0; padding:0; border:0}
	.pager a.prev_prev	{ background: url(../images/ll.png) no-repeat 0 50%; margin-right:10px;}
	.pager a.next_next	{ background: url(../images/rr.png) no-repeat 0 50%; margin-left:10px;}
	
	.pager_c			{ padding:5px 0 0 0; float:right; overflow:hidden; margin-bottom:0px;}
	.pager_c span		{ display:inline-block; margin:0 5px; font:11px arial; color:#8d8d8d; line-height:17px; text-decoration:none; float:left;}
	.pager_c a.prev,
	.pager_c a.next	{ width:4px; height:17px; text-decoration:none; padding:0; padding:0; border:0; display:inline-block; float:left;}
	.pager_c a.prev	{ background: url(../images/pl.png) no-repeat 0 6px;}
	.pager_c a.next	{ background: url(../images/pr.png) no-repeat 0 6px;}
	
#footer	{ overflow:hidden; padding-top:50px;}
	#footer .text_footer	{ overflow:hidden; padding-bottom:18px; border-bottom:1px solid #594841;}
	#footer .fix			{ overflow:hidden; }
	#footer .text_footer p	{ padding:0; width:900px; margin:0 auto; color:#594841;}
	#footer .copy		{ padding-top:25px; border-top:2px solid #594841; float:right;}
	#footer .copy a		{ color:#959595;}
	#footer ul				{ overflow:hidden; float:left; list-style:none; padding-top:25px; border-top:2px solid #594841; margin-bottom:30px;}
	#footer ul li			{ margin-right:30px; overflow:hidden; float:left; list-style:none;}
	#footer ul li span		{ display:block; font:bold 11px arial; color:#594841; padding-bottom:10px;}
	#footer ul li a			{ display:inline-block; color:#959595; text-decoration:none; margin-bottom:5px;}
	#footer ul li a:hover	{ text-decoration:underline;}
	
a.word,
a.pdf,
a.mp,
a.exel		{ display:inline-block; padding-left:35px; font: italic 11px "Arial", Helvetica, sans-serif; color:#7a7a7a; line-height:27px; text-decoration:none;}
a.word		{ background:url(../images/w.gif) no-repeat 0 0;}
a.pdf		{ background:url(../images/pdf.gif) no-repeat 0 0;}
a.exel		{ background:url(../images/exel.gif) no-repeat 0 0;}


#popup {
	position: absolute;
	background: #000;
	opacity: 0.50;
	filter:alpha(opacity=50);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
	display: none;
}

.window		{ width:760px; position:absolute; left:50%; margin-left:-420px; background:#fff; top:100px; z-index:2001; padding:25px 40px; display:none;}
	.window .close	{ width:27px; height:27px; overflow:hidden; font-size:0; background:url(../images/close.png) no-repeat 0 0; position:absolute; top:10px; right:10px; cursor:pointer;}
	.window .title	{ text-align:center; color:#393939; margin-bottom:25px;}
	.window .title span	{ color:#a2a2a2;}
	.windowv .img_left div			{ text-align:center; padding-top:8px;}
	.window .img		{ text-align:center; overflow:hidden; margin-bottom:20px;}
	.window .img img	{ margin-bottom:17px;}
	.window .img span	{ margin-right:8px; padding-right:9px; color:#626262; display:inline-block;}
	.window .img span a	{ text-decoration:none;}
	.window .img span a:hover	{ text-decoration: underline;}
	
